
	<div class="container-fluid">
        <div class="row">
        <header>
          <div class="row">
              <div class="col-md-12 topbar">
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6 col-12 topbar_txt text-md-end"><span class="topBarIcons"><i class="fa-solid fa-phone"></i></span>+91 8465862571</div>
                            <div class="col-md-6 col-12 topbar_txt"><span class="topBarIcons"><i class="fa-solid fa-envelope"></i></span>info@digiquadsolutions.com</div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light header_navbar" id="navbarScroll">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="http://digiquadsolutions.com/#"><img class="img-fluid" src="/content/dam/wknd/dq/logo.png"></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse float-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0 float-end">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://digiquadsolutions.com/#solutions">Solutions</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://digiquadsolutions.com/#services">Services</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://digiquadsolutions.com/#whydigiquad">Why Digiquad</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="http://digiquadsolutions.com/#aboutus">About Us</a>
                          </li>
                          <!-- li class="nav-item">
                            <a class="nav-link" href="#careers">Careers</a>
                          </li -->
                          <li class="nav-item">
                            <a class="nav-link" href="http://digiquadsolutions.com/#contact">Contact</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
              </div>
          </div>
