<section class="about_us" id="aboutus">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row ">
                    <div class="col-md-12 text-center">
                    <span class="aboutTitle">ABOUT US</span><br> 
                    <h2 class="aboutSubTitle">Trusted Business
                        services Partner
                    </h2><br> 
                    <p class="aboutTxt">Digiquad Solutions is the partner of choice for many of the world’s leading 
                        enterprises. We help elevate the value of businesses by accelerating their 
                        technological evolution.</p>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6"><img class="img-fluid" src="/content/dam/wknd/dq/about_us.png" alt="about_us"></div>
                <div class="col-md-6">
                    
                                      <div class="row">
                        <div class="col-md-6"><div class="card">
                            <img src="/content/dam/wknd/dq/about_us_1.png" class="img-fluid aboutImg" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center">Our Vision</h5>
                              <p class="card-text text-center">At DigiQuad, we envision a future, where we are the most trusted IT solutions and services provider.</p>
                            </div>
                          </div></div>
                        <div class="col-md-6"><div class="card">
                            <img src="/content/dam/wknd/dq/about_us_2.png" class="img-fluid aboutImg" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center">Our Mission</h5>
                              <p class="card-text text-center">Attaining maximum customer satisfaction is what we consistently strive for at DigiQuad</p>
                            </div>
                          </div></div>
                    </div>
                   <!-- <div class="row">
                        <div class="col-md-12"><button class="btn btn-primary mt-5">LEARN MORE</button></div>
                    </div>-->
                </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        </section>