<footer class="footer" id="contact">         

        <div class="row footerdrkbg">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-6 contactUsInfo">
                            <div class="row">
                                <div class="col-md-12 contactHeading"> CONTACT US
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">Let us tailor a service package that meets your needs. 
                                    Tell us a little about your business, and we will get back 
                                    to you with some ideas as soon as possible.</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 contactHeading DigiquadContact">DIGIQUAD</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">401, Vishnu VV Habitat, Somajiguda, Hyderabad, Telangana 500082<br> Phone: +91 8465862571, +91 8790911554<br>Email: info@digiquadsolutions.com <br>Website: www.digiquadsolutions.com</div>
                            </div>
                        </div>
                        <!-- div class="col-md-4 contactForm">
                            <div class="row">
                                <div class="col-md-12 contactHeading forQuotes">FOR QUTOES AND QUESTIONS</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><input class="form-control" type="text" placeholder="Full Name" required /></div>
                                <div class="col-md-6"><input class="form-control" type="text" placeholder="Office / Alt Phone Number" required /></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><input class="form-control" type="text" placeholder="Mobile Number" required></div>
                                <div class="col-md-6"><input class="form-control" type="text" placeholder="Email" required /></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><input class="form-control" type="text" placeholder="Location" required /></div>
                                <div class="col-md-6"><textarea class="form-control" rows="2" placeholder="Message"></textarea></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 signupforEmail"><input type="checkbox" class="pull-left"> Sign up for our email list for updates, promotions, and more.</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><button class="btn btn-warning submitBtn">Submit</button></div>
                            </div>
                        </div -->
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 contactHeading">Location</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d951.688332681764!2d78.4574798!3d17.4236215!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb97c5b3da85e3%3A0x62d0c531376253cb!2sDigiQuad%20Solutions!5e0!3m2!1sen!2sin!4v1657696621954!5m2!1sen!2sin" width="100%" height="280" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        </footer>