<section class="why_digiquad wdq_bg" id="whydigiquad">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">
                        <div class="col-md-12 why_digiquadheading"><h1>Why digiquad</h1></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ">
                          <div class="why_digiquadBg">
                            <div class="row">
                                <div class="col-md-12"><img src="/content/dam/wknd/dq/digiquad_1.png" class="img-fluid" alt="digiquad"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 whydigiQuad_subheading text-center"><h4>We create workflow models

                                </h4></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 whydigiquad_text">Digiquad outsourcing is indeed the one-stop solution, but we believe that without a workflow model, the results suffer mismanagement. We work in a team following a workflow model to save time and add efficiency to our work. The model is created by keeping in mind the need of the project and client. We work differently for a better experience and output.

                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="why_digiquadBg">
                            <div class="row">
                                <div class="col-md-12"><img src="/content/dam/wknd/dq/digiquad_2.png" class="img-fluid" alt="digiquad"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 whydigiQuad_subheading text-center"><h4>We build Relations

                                </h4></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 whydigiquad_text">
									We build the relations rather than just a business. Our continuous engagement with the customers help their business grow better and quicker. We follow simple methods to work with the client so we can deliver better
                                    </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="why_digiquadBg">
                            <div class="row">
                                <div class="col-md-12"><img src="/content/dam/wknd/dq/digiquad_3.png" class="img-fluid" alt="digiquad"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 whydigiQuad_subheading text-center"><h4>We design, operate &amp; manage
                                </h4></div>
                            </div>                   
                            <div class="row">
                                <div class="col-md-12 whydigiquad_text">Digiquad outsourcing of projects simplifies your task with AEM experts. When you Outsource AEM projects, you cut the cost for the internal team, provide an Optimal AEM environment, regular bug fixations, DAM, CMS, and uptime of AEM.


                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        </section>