<section class="our_services" id="solutions">
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="row">
                      <div class="col-md-12 text-center">
                        <h2 class="weOfferTitle">
                            With Digiquad, Innovate, Create, and Manage at your fingertips.
                      </h2>
                      </div>
                      <div class="col-md-12 text-center">
                        <p class="weOfferText">
                            Digiquad is the future for the growth of the businesses
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
          </div>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
          <div class="row our_services">
              <div class="col-md-4"><div class="card weoffer_lightbg">
                <img src="/content/dam/wknd/dq/weoffer_1.png" class="card-img-top" alt="weoffer">
                <div class="card-body">
                  <h5 class="card-title">Digital asset Management</h5>
                  <p class="card-text"> AEM provides a dynamic strategy to maintain your digital assets. It sustains social engagement and connection portals with flexibility. DAM is done at a majestic level to provide each user with a personalised experience.
                </p>
                </div>
              </div></div>
              <div class="col-md-4"><div class="card weoffer_darkbg">
                <img src="/content/dam/wknd/dq/weoffer_2.png" class="card-img-top" alt="weoffer2">
                <div class="card-body">
                  <h5 class="card-title">Content Management System</h5>
                  <p class="card-text">AEM provides a smooth interface for authors and predefined templates through which an author generates creative and engaging content. A hybrid content management system provides an immediate update for the content through multiple channels.
                </p>
                </div>
              </div></div>
              <div class="col-md-4"><div class="card weoffer_lightbg">
                <img src="/content/dam/wknd/dq/weoffer_3.png" class="card-img-top" alt="weoffer3">
                <div class="card-body">
                  <h5 class="card-title">Cloud Services</h5>
                  <p class="card-text">AEM added Cloud service in 2019 with Microsoft Azure and is providing low-cost ownership to the cloud. Digiquad cloud is scalable and secure with any time and anywhere availability to use with an upgraded version of itself.
                </p>
                </div>
              </div></div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
        </section>